.index-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.index-nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  width: 100px;
}

.navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navMenu ul li {
  margin-right: 27px;
  font-size: 17px;
  position: relative;
  text-transform: uppercase;
}

.navMenu ul li::before {
  content: '';
  background: var(--button);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navMenu ul li a {
  font-family: widemedium;
}

.index-nav .navbar .navMenu ul li:hover::before,
.index-nav .navbar .navMenu ul li.active::before {
  width: 100%;
}

nav .cancel {
  display: none;
  position: absolute !important;
  top: 20px !important;
}

nav .cancel::before {
  display: none !important;
}

nav .cancel-btn {
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 10px;
}

nav .cancel-content {
  font-size: 7px;
  color: var(--text);
  margin-left: 12%;
}

nav .nav-footer {
  display: none;
  padding-left: 10%;
  top: 10%;
}

nav .nav-footer::before {
  display: none !important;
}

nav .nav-footer .icons {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 25px;
}

nav .nav-footer .twitter a svg {
  fill: var(--text);
}

nav .nav-footer .made {
  margin-top: 25px;
}

nav .nav-footer .made span {
  margin-right: 10px;
  color: var(--text);
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'wideMedium';
}

nav .nav-footer .reserved {
  margin-top: 10px;
  color: var(--text);
  font-size: 8px;
}

nav .nav-footer .reserved span {
  font-size: 11px;
}

nav .nav-footer .statement {
  margin-top: 10px;
  padding-right: 12%;
  font-size: 8px;
  color: var(--text);
}

nav .menu-btn {
  display: none;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: end !important;
}

nav.sticky {
  background-color: var(--background);
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  nav {
    overflow: hidden;
    padding: 20px 20px !important;
  }
  .logo img {
    width: 75px;
  }
  .navbar ul {
    position: fixed !important;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    gap: 5%;
    z-index: 1;
    -webkit-backdrop-filter: blur(27px);
            backdrop-filter: blur(27px);
  }
  .navbar ul li {
    margin: 0 !important;
    width: 100%;
    padding-bottom: 10px;
    top: 4%;
  }
  .navbar ul li::before {
    width: 100% !important;
  }
  .navbar ul li::before:last-child {
    width: 0px !important;
  }
  .navbar ul li a {
    padding-left: 15%;
  }
  nav .navbar.active ul {
    left: 0;
  }
  nav .menu-btn {
    display: block;
    fill: var(--button);
  }
  nav .cancel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .cancel-btn {
    color: var(--light);
    fill: var(--text);
  }
  nav .icons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  nav .nav-footer {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .logo img {
    width: 75px;
  }
  .navMenu ul li {
    font-size: 13px;
  }
}

.hero-section {
  padding-top: 80px !important;
}

.hero-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .left-section {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 40px 30px 0px 0px;
}

.hero-section .left-section h4 {
  font-size: 20px;
}

.hero-section .left-section h4 span {
  color: var(--text-gray);
}

.hero-section .mid-section {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 30px 30px 0px 0px;
}

.hero-section .right-section {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.hero-section .right-section img {
  width: 100%;
}

.hero-section .right-section .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section .right-section .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-section .right-section .icons .icon .icon-img {
  text-align: center;
}

.hero-section .right-section .icons .icon .icon-img img {
  width: 35px;
}

.hero-section .right-section .icons .icon span {
  font-size: 10px;
  color: var(--text);
}

@media (max-width: 575px) {
  .hero-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .left-section h4 {
    width: 80%;
    font-size: 16px !important;
    margin-left: 30px;
  }
  .mid-section .heading h6 {
    font-size: 8px;
    padding: 8px;
  }
  .mid-section .btn {
    padding: 18px;
  }
  .mid-section .btn a {
    font-size: 11px;
  }
  .right-section img {
    width: 100%;
  }
  .right-section .icon img {
    width: 27px !important;
  }
  .right-section .icon span {
    font-size: 8px !important;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 850px) {
  .left-section h4 {
    width: 70%;
    margin-left: 40px;
  }
  .right-section img {
    width: 85%;
  }
}

@media (max-width: 850px) {
  .container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .mid-section {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 !important;
  }
  .icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5%;
  }
}

.intelligent-skincare {
  background-color: var(--button);
  padding-top: 40px;
  position: relative;
}

.intelligent-skincare .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intelligent-skincare .container .left-section .img {
  text-align: center;
}

.intelligent-skincare .container .left-section .img img {
  width: 75%;
  padding: 16px 9px;
  border: 1px solid var(--text-primary);
  border-radius: 13px;
}

.intelligent-skincare .container .left-section .para {
  top: 15px;
  left: 15px;
  width: 55% !important;
}

.intelligent-skincare .container .left-section .para p {
  top: 145px;
  left: -92px;
  color: var(--text-primary) !important;
}

.intelligent-skincare .container .right-section .content {
  margin-bottom: 15%;
}

.intelligent-skincare .container .right-section .content h5 {
  color: var(--text-primary);
  margin-bottom: 20px;
  padding: 0 5%;
}

.intelligent-skincare .container .right-section .content p {
  color: var(--text-primary);
  font-family: widelight;
  padding: 0 4% 0 5%;
}

.intelligent-skincare .container .right-section .btns h6 {
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  background-color: var(--text);
}

.intelligent-skincare .container .right-section .btn {
  background-color: var(--text-primary);
}

.intelligent-skincare .container .right-section .btn a {
  color: var(--text);
  font-family: wide;
}

@media (max-width: 575px) {
  .intelligent-skincare {
    padding-left: 20px;
    padding-right: 20px;
  }
  .intelligent-skincare .container .left-section {
    margin-right: 0px;
  }
  .intelligent-skincare .container .left-section .img img {
    width: 55%;
  }
  .intelligent-skincare .container .left-section .para .icon img {
    max-width: 40px !important;
  }
  .intelligent-skincare .container .left-section .para p {
    top: 123px !important;
    left: -77px;
    font-size: 10px;
  }
  .intelligent-skincare .container .right-section .content h5 {
    font-size: 18px !important;
  }
  .intelligent-skincare .container .right-section .content p {
    font-size: 11px;
  }
  .intelligent-skincare .container .right-section .btns h6 {
    font-size: 8px;
  }
  .intelligent-skincare .container .right-section .btn a {
    font-size: 11px;
  }
}

@media (max-width: 850px) {
  .intelligent-skincare .left-section .img img {
    width: 50% !important;
  }
}

.sustainbility {
  padding-top: 40px;
}

.sustainbility .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sustainbility .container .left-section {
  position: relative;
}

.sustainbility .container .left-section .img::before {
  content: "";
  position: absolute;
  width: 37%;
  height: 37%;
  top: 27%;
  left: 29%;
  border: 15px solid var(--text);
  border-radius: 100%;
}

.sustainbility .container .left-section .img img {
  width: 100%;
  position: relative;
}

.sustainbility .container .left-section .para {
  top: 0px;
  left: -48px;
}

.sustainbility .container .left-section .para p {
  top: 115px;
  left: -59px;
}

.sustainbility .container .right-section .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sustainbility .container .right-section .heading span {
  width: 2px;
  height: 35px;
  background-color: var(--text);
  margin: 15px 0px;
}

@media (max-width: 350px) {
  .sustainbility .left-section .img::before {
    border: 10px solid var(--text) !important;
  }
}

@media (max-width: 575px) {
  .sustainbility {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sustainbility .container .left-section .img::before {
    width: 35% !important;
    height: 35% !important;
    top: 28% !important;
    left: 29% !important;
  }
  .sustainbility .container .left-section .img img {
    width: 100% !important;
  }
  .sustainbility .container .left-section .para {
    left: -7px !important;
  }
  .sustainbility .container .left-section .para .icon img {
    max-width: 40px !important;
  }
  .sustainbility .container .left-section .para p {
    top: 95px;
    font-size: 10px;
    left: -50px;
  }
  .sustainbility .container .right-section .heading h5 {
    font-size: 15px;
  }
  .sustainbility .container .right-section .heading h6 {
    font-size: 12px;
  }
  .sustainbility .container .right-section .heading span {
    width: 1px;
    height: 30px;
  }
}

@media (max-width: 850px) {
  .sustainbility .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0px;
  }
  .sustainbility .container .left-section .img {
    text-align: center;
  }
  .sustainbility .container .left-section .img::before {
    width: 30%;
    height: 39%;
    top: 28%;
    left: 32.5%;
  }
  .sustainbility .container .left-section .img img {
    width: 75%;
  }
}

.our-mission {
  background-color: var(--background-2);
  padding-top: 80px;
  position: relative;
}

.our-mission .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-mission .container .left-section h6 {
  width: 90%;
  line-height: 2;
}

.our-mission .container .left-section .para {
  top: 15px;
  left: 15px;
}

.our-mission .container .left-section .para p {
  top: 105px;
  left: -51px;
}

.our-mission .container .right-section {
  text-align: end;
  overflow: hidden;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.our-mission .container .right-section img {
  width: 70%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 575px) {
  .our-mission .container .left-section .para .icon img {
    max-width: 40px !important;
  }
  .our-mission .container .left-section .para p {
    top: 86px !important;
    left: -43px;
    font-size: 10px;
  }
  .our-mission .container .right-section img {
    width: 60%;
    -webkit-transform: translate(-35%, 66%) scale(2.2);
            transform: translate(-35%, 66%) scale(2.2);
  }
}

@media (max-width: 850px) {
  .our-mission {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .our-mission .container {
    display: block !important;
    overflow: hidden;
  }
  .our-mission .container .left-section {
    padding: 30% 40px 0px;
  }
  .our-mission .container .left-section h6 {
    line-height: 1.3;
  }
  .our-mission .container .right-section {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 20px;
  }
  .our-mission .container .right-section img {
    width: 50%;
    -webkit-transform: translate(-51%, 67%) scale(2.2);
            transform: translate(-51%, 67%) scale(2.2);
  }
}

.products {
  padding-top: 40px !important;
  position: relative;
}

.products .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .container .left-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .container .left-section .product .img {
  text-align: end;
}

.products .container .left-section .product .img img {
  width: 90%;
}

.products .container .left-section .img img {
  width: 90%;
}

.products .container .right-section .heading {
  margin-bottom: 30px;
  margin-left: 20px;
}

.products .container .right-section .heading h5 {
  width: 85%;
}

.products .container .right-section .img {
  text-align: center;
}

.products .container .right-section .img img {
  width: 80%;
}

.products .container .right-section .para {
  top: 15px;
  left: 15px;
}

.products .container .right-section .para p {
  top: 95px;
  left: -40px;
}

@media (max-width: 575px) {
  .products {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .products .container {
    gap: 10px !important;
  }
  .products .container .right-section .heading {
    padding-top: 15%;
  }
  .products .container .right-section .heading h5 {
    font-size: 17px;
  }
  .products .container .para .icon img {
    max-width: 40px;
  }
  .products .container .para p {
    top: 78px !important;
    left: -35px !important;
    font-size: 10px;
  }
}

@media (max-width: 850px) {
  .products .container {
    gap: 30px;
  }
  .products .container .left-section {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .products .container .left-section .product .img img {
    width: 80.5%;
  }
  .products .container .left-section .img img {
    width: 80.5%;
  }
  .products .container .right-section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .products .container .right-section .heading {
    margin-left: 40px;
  }
  .products .container .para .icon img {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

.formulas {
  padding-top: 40px !important;
  padding-right: 0 !important;
  background-color: var(--background-3);
  position: relative;
}

.formulas .container {
  padding-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.formulas .container .right-section .img-1 img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.formulas .container .right-section .img-1 p {
  margin-top: 25%;
  margin-right: 20px;
}

.formulas .container .right-section .img-2 {
  text-align: center;
  margin-top: 10%;
}

.formulas .container .left-section {
  display: -ms-grid;
  display: grid;
}

.formulas .container .left-section .headings {
  margin-bottom: 30px;
}

.formulas .container .left-section .headings h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.formulas .container .left-section .headings p span {
  text-transform: uppercase;
  font-family: widemedium;
}

.formulas .container .left-section .btns .btn-h6 {
  background-color: var(--text-primary);
}

.formulas .container .para {
  top: 15px;
  left: 15px;
}

.formulas .container .para p {
  top: 162px;
  left: -109px;
}

@media (max-width: 345px) {
  .formulas .container .right-section .img-1 img {
    width: 65% !important;
    height: 200px !important;
  }
}

@media (max-width: 575px) {
  .formulas {
    padding-bottom: 50% !important;
  }
  .formulas .container .right-section .img-1 {
    width: 100%;
  }
  .formulas .container .para .icon img {
    max-width: 40px !important;
  }
  .formulas .container .para p {
    top: 135px;
    font-size: 10px;
    left: -91px;
  }
}

@media (max-width: 850px) {
  .formulas {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
  .formulas .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
  }
  .formulas .container .right-section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 7%;
  }
  .formulas .container .right-section .img-1 {
    width: 100%;
    text-align: end;
  }
  .formulas .container .right-section .img-1 img {
    width: 80%;
  }
  .formulas .container .right-section .img-2 {
    text-align: end;
    padding-right: 8%;
  }
  .formulas .container .left-section {
    gap: 40px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 15% 10%;
    background-color: var(--background-2);
  }
  .formulas .container .left-section h5 {
    margin-bottom: 7%;
  }
}

.sustainbility-2 {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  position: relative;
}

.sustainbility-2 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.sustainbility-2 .container .left-section {
  background-color: var(--background-4);
  height: 100vh;
  z-index: 1;
}

.sustainbility-2 .container .left-section .img {
  padding-left: 39%;
}

.sustainbility-2 .container .left-section .img img {
  width: 100%;
  max-width: 320px;
  position: absolute;
  top: 9%;
  right: 51%;
}

.sustainbility-2 .container .left-section .para {
  top: 20px;
  left: 15px;
}

.sustainbility-2 .container .left-section .para p {
  color: var(--text-primary);
  top: 114px;
  left: -60px;
}

.sustainbility-2 .container .right-section {
  background-color: var(--text);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 7% 30% 30%;
}

.sustainbility-2 .container .right-section .headings h5 {
  color: var(--text-primary);
  margin-bottom: 30px;
}

.sustainbility-2 .container .right-section .headings p {
  color: var(--text-primary);
}

@media (max-width: 575px) {
  .sustainbility-2 .container .left-section .img img {
    max-width: 250px;
  }
  .sustainbility-2 .container .left-section .para p {
    font-size: 10px;
    top: 106px;
    left: -50px;
  }
  .sustainbility-2 .container .right-section {
    padding: 0 25% 19% 6% !important;
  }
  .sustainbility-2 .container .right-section .headings h5 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .sustainbility-2 .container .right-section .headings p {
    font-size: 10px;
  }
}

@media (max-width: 850px) {
  .sustainbility-2 .container {
    gap: 0;
  }
  .sustainbility-2 .container .left-section {
    height: 50vh;
  }
  .sustainbility-2 .container .left-section .img img {
    top: unset;
    bottom: 35%;
    right: 26%;
  }
  .sustainbility-2 .container .right-section {
    height: 50vh;
    padding: 0 25% 7% 6%;
  }
}

.reviews {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10%;
  background-color: var(--background-3);
  position: relative;
}

.reviews .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.reviews .container .left-section {
  display: -ms-grid;
  display: grid;
}

.reviews .container .left-section .heading {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  margin-bottom: 20px;
}

.reviews .container .left-section .wrapper {
  margin: 0% 8%;
}

.reviews .container .left-section .wrapper .input {
  background: var(--background-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid var(--button);
  width: 100%;
}

.reviews .container .left-section .wrapper .input input {
  background-color: var(--background-3);
  outline: none;
  width: 100%;
  border: none;
  padding: 0px 15px;
  font-size: 15px;
  color: var(--text);
}

.reviews .container .left-section .wrapper .input button {
  padding: 9px 18px;
}

.reviews .container .left-section .wrapper .input button:hover {
  border: 1px solid transparent;
  border-left: 1px solid var(--text);
}

.reviews .container .left-section .para {
  top: 15px;
  left: 15px;
}

.reviews .container .left-section .para p {
  top: 85px;
  left: -32px;
}

.reviews .container .right-section .heading h5 {
  margin-left: 14%;
  margin-bottom: 5%;
}

.reviews .container .right-section .img {
  text-align: end;
}

.reviews .container .right-section .img img {
  width: 85%;
}

@media (max-width: 575px) {
  .reviews .container .left-section .heading h5 {
    font-size: 16px;
    margin: 0px 15px;
  }
  .reviews .container .left-section .para .icon img {
    max-width: 40px;
  }
  .reviews .container .left-section .para p {
    font-size: 10px;
    top: 71px;
    left: -28px;
  }
  .reviews .container .right-section {
    margin-top: 40px;
  }
  .reviews .container .right-section .heading h5 {
    margin-left: 15% !important;
    margin-bottom: 2%;
    font-size: 16px;
  }
  .reviews .container .right-section .img img {
    width: 85% !important;
  }
}

@media (max-width: 850px) {
  .reviews {
    padding-top: 40px;
  }
  .reviews .container .left-section {
    padding: 8% 0%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .reviews .container .right-section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .reviews .container .right-section .heading h5 {
    margin-left: 40%;
  }
  .reviews .container .right-section .img img {
    width: 60%;
  }
}

.footer {
  padding: 60px 40px;
  background-color: var(--text-primary);
}

.footer .container .nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 30px 0px;
}

.footer .container .nav-menu li {
  font-size: 14px;
  padding-bottom: 7px;
}

.footer .container .copyright .para-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .copyright .para-1 .dash {
  position: relative;
  margin: 0px 25px;
}

.footer .container .copyright .para-1 .dash::before {
  content: "";
  position: absolute;
  background-color: var(--text);
  top: 2px;
  left: -12px;
  width: 20px;
  height: 1px;
}

.footer .container .copyright .para-1 .icon {
  padding-left: 3%;
  opacity: 0.4;
}

@media (max-width: 575px) {
  .footer .container {
    padding-bottom: 40px;
  }
  .footer .container .nav-menu {
    margin: 0;
  }
  .footer .container .nav-menu li {
    font-size: 10px;
  }
  .footer .container .copyright .rights .para-1 {
    font-size: 8px;
    line-height: 5;
  }
  .footer .container .copyright .rights .para-1 .dash::before {
    top: 1px;
    width: 15px;
  }
  .footer .container .copyright .rights .para-1 svg {
    width: 20px;
  }
  .footer .container .copyright .rights .para-2 {
    font-size: 10px;
  }
}

@media (max-width: 850px) {
  .footer .container .copyright .para-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: wide;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-Wide.otf);
}

@font-face {
  font-family: wideBlack;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-WideBlack.otf);
}

@font-face {
  font-family: wideBold;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-WideBold.otf);
}

@font-face {
  font-family: wideLight;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-WideLight.otf);
}

@font-face {
  font-family: wideMedium;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-WideMedium.otf);
}

@font-face {
  font-family: wideSemiBold;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-WideSemibold.otf);
}

@font-face {
  font-family: wideSuper;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-WideSuper.otf);
}

@font-face {
  font-family: wideThin;
  src: url(../fonts/ObviouslyWide/ObviouslyDemo-WideThin.otf);
}

body {
  --text: #1a5632;
  --text-gray: #637760;
  --text-primary: #f9fcf8;
  --button: #294428;
  --gray: #707070;
  --background: #e9ece8;
  --background-2: #e3eae3;
  --background-3: #CDDDD2;
  --background-4: #447B55;
  font-family: wide;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: wideMedium;
  color: var(--text);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 12px;
  line-height: 150%;
  font-style: normal;
  font-weight: normal;
  font-family: wide;
  color: var(--text);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
  font-weight: normal;
  font-family: wide;
}

li {
  list-style: none;
}

.btn-1 {
  padding: 11px 40px;
  border: 1px solid transparent;
  color: var(--text-primary);
  background-color: var(--text);
  font-size: 11px;
  font-family: wideLight;
  cursor: pointer;
}

.btn-1:hover {
  border: 1px solid var(--text);
  background-color: var(--text-primary);
  color: var(--text);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  font-family: wideLight;
}

.btn-h6 {
  font-size: 10px;
  padding: 10px;
  border: 1px solid var(--text);
  text-align: center;
  font-family: wide;
}

.btn-div {
  padding: 25px;
  background-color: var(--text);
  text-align: center;
}

.btn-a {
  color: var(--text-primary);
  font-family: 'widethin';
  text-transform: uppercase;
  font-size: 13px;
}

nav {
  padding: 20px 40px;
  background-color: var(--background);
}

section {
  padding: 0px 60px 80px;
  background-color: var(--text-primary);
}

.section-para {
  position: absolute;
  width: 50%;
  top: 80px !important;
}

.section-para--p {
  color: var(--text);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  font-family: 'wideLight';
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */